

#TituloTopo{
    font-size: 40px;
    color: white;
    margin-left: 10px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: initial;
    margin-top: 22px;
}

#FotoBotafogo{
  width: 10%;
  height: 100%;
  object-fit: cover;
}

#Topo{
    height: 12%;
    background-color: black;
    display: inline-flex;
}

#Botoes{
    margin: auto;
    width: fit-content;
    display: block;
    margin-top: inherit;
    
}

#BotaoFeminino{
    margin-block: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    padding: 10px 32px;
    border: none;
    border-radius: 6px;
}

#BotaoMasculino{
    margin-block: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    padding: 10px 32px;
    border: none;
    border-radius: 6px;
}

#BotaoCompleto{
    margin-block: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    padding: 10px 32px;
    border: none;
    border-radius: 6px;
}