
/*Página Detalhes*/
#DetalhesJogador{
    display: flex;
}
#BotaoVoltar{
        margin:inherit;
        background-color: white;
        color: black;
        font-size: 24px;
        font-family: 'Kanit';
        padding: 10px 32px;
        border-width: 1px;
        border-radius: 6px;
    }

    #BotaoVoltar0{
        margin: auto;
        background-color: white;
        color: black;
        font-size: 24px;
        font-family: 'Kanit';
        padding: 10px 32px;
        border-width: 1.3px;
        border-radius: 6px;
    }


@media (max-width: 768px){
    #BotaoVoltar0{
        font-size: 14px !important;
        padding: 5px 16px !important;
    }
    
    #Topo{
        align-items: center;
    justify-content: center;
    }
    #TituloTopo{
        font-size: 22px !important;
        margin-top: inherit !important;
        
    }
    #TextoSenha{
        font-size: 18px !important;
    }
    #InputSenha{
        width: 300px !important;
    }
    #RevelacaoSenha{
        font-size: 12px !important;
    }
    #DetalhesJogador{
        flex-direction: column;
    }
    #Botoes{
        display: none !important;
    }
    #Select{
        display: block;
    }
}

/* Login*/
#FotoBotafogo0{
    width: 10%;
    height: 100%;
    object-fit: cover;
    margin-left: 10px;
  }

#FormSenha{
    width: fit-content;
    margin: auto;
}

#TextoSenha{
    font-size: 26px;
    font-family: 'Kanit', sans-serif;
    width: fit-content;
    margin: auto;
    margin-top: inherit;
}

#InputSenha{
    width: 420px;
    
    height: 20px;
    border-radius: 6px;
    margin-top: inherit;
}

#RevelacaoSenha{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin:auto;
    width: fit-content;
    margin-top: inherit;
}

#BotaoSenha{
    border-radius: 6px;
    height: 25px;
    font-family: 'Kanit'
}

/* CSS Página Jogadores */

#Container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; /* Espaçamento entre as divs */
    max-width: 1200px; /* Largura máxima da lista */
    margin: auto; /* Centraliza a lista na tela */
}

/* Uma coluna até 768px */
@media (max-width: 768px) {
    #Container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Uma coluna */
    }
    #Botoes {
        flex-direction: column;
        align-items: center;
    }
}

/* Duas colunas até 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    #Container {
        grid-template-columns: repeat(auto-fill, minmax(48%, 1fr)); /* Duas colunas */
    }
}

/* Quatro colunas depois de 1024px */
@media (min-width: 1025px) {
    #Container {
        grid-template-columns: repeat(auto-fill, minmax(23%, 1fr)); /* Quatro colunas */
    }
}

#Select{
    display: none;
    font-family: 'Kanit';
    font-size: 24px;
    margin: auto;
    text-align: center;
    margin-top: inherit;
    border-radius: 6px;
    border: solid;
    border-top-width: thick;
}


#TituloTopo{
    font-size: 40px;
    color: white;
    margin-left: 10px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: initial;
    margin-top: 22px;
}

#FotoBotafogo{
  width: 10%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

#Topo{
    height: 12%;
    background-color: black;
    display: inline-flex;
    align-items: center;
}

#Botoes{
    margin: auto;
    width: fit-content;
    display: grid;
    margin-top: inherit;
    
}

#BotaoFeminino{
    margin-block: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    padding: 10px 32px;
    border-width: 1px;
    border-radius: 6px;
}

#BotaoMasculino{
    margin-block: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    padding: 10px 32px;
    border-width: 1px;
    border-radius: 6px;
}

#BotaoCompleto{
    margin-block: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    padding: 10px 32px;
    border-width: 1px;
    border-radius: 6px;
}
