#FotoBotafogo{
    width: 10%;
}

#Topo{
    height: 12%;
    background-color: black;
}

#Botoes{
    margin: auto;
    width: fit-content;
    display: block;
    margin-top: inherit;
    
}

#BotaoFeminino{
    margin-block: 10px;
    background-color: black;
    color: white;
}

#BotaoMasculino{
    margin-block: 10px;
    background-color: black;
    color: white;
}

#BotaoCompleto{
    margin-block: 10px;
    background-color: black;
    color: white;
}